{% macro deck(elements, type) %}
    {% import _self as cards %}
<div class="card-deck-wrapper">
    <div class="card-deck">
        {% for element in elements %}
            {{ attribute(cards, element.type|default(type), [element]) }}
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro group(elements, type) %}
    {% import _self as cards %}
    <div class="card-group">
        {% for card in cards %}
            {{ attribute(cards, card.type|default(type), [card]) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro columns(elements, type) %}
    {% import _self as cards %}
    <div class="card-columns">
        {% for card in cards %}
            {{ attribute(cards, card.type|default(type), [card]) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro topCatCard(c) %}
    <div class="card">
        <img class="card-img-top" data-src="{{ c.image_card }}">
        <div class="card-img-overlay">
            <h4 class="card-title"><a href="{{ c.href }}">{{ c.title }}</a></h4>
        </div>
        <p class="card-text">{{ c.text }}</p>
        <p class="card-text text-xs-right"><a href="{{ c.href }}">{{ c.jumpline }}</a></p>
        {% set columnDef = [{ width: 3, class: 'itemType'}, {}] %}
        {{ cards.tableComponent(c.list, columnDef) }}
    </div>
{% endmacro %}

{% macro listComponent(list, class) %}
    {% import 'page/components/decorator.html.twig' as decor %}
    <ul class="list-group list-group-flush">
        {% for it in list %}
        <li class="list-group-item {{ it.class ?? (class ?? '') }}">{{ decor.a(it.text, it.href) }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro tableComponent(table, columns, class) %}
    {% import 'page/components/decorator.html.twig' as decor %}
    <ul class="list-group list-group-flush">
        {% for row in table %}
            <li class="list-group-item {{ row.class|default(class)|default('') }}">
                {% set cc = 12 %}
                {% for cell in row %}
                    {% set width = cell.width|default(cell.width)|default(cc) %}
                    {% set cc = cc - width %}
                    <div class="col-sm-{{ width }} {{ cell.class|default('') }}">
                        {{ decor.a(cell.text, cell.href|default('')) }}
                    </div>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}


{#{% macro card4(id, content, config) %}#}
    {#{% import _self as cards %}#}
{#<div id="card_{{ id }}" class="card {{ content.class ?? (config.class ?? '') }}">#}
    {#{% for sectionName in config.parts %}#}
        {#<div class="{{ class[sectionName] }} {{ content.class }}">#}
        {#{% set part %}#}
            {#{% for el in config.parts[sectionName]['elements'] %}#}
                {#{{ cards[el](content, config) }}#}
            {#{% endfor %}#}
        {#{% endset %}#}

        {#{% if config[sectionName]['linked'] ?? false %}#}
            {#<a class="{{ config.parts.head.class ?? '' }}" href="{{ content.href }}">{{ part }}</a>#}
        {#{% else %}#}
            {#{{ part }}#}
        {#{% endif %}#}
        {#</div>#}
        {#{% endif %}#}
    {#{% endfor %}#}
    {#<img class="card-img-top" data-src="..." alt="Card image cap">#}
    {#{% endif %}#}
{#</div>#}
{#{% endmacro %}#}

{#{% macro list(content, config) %}#}
    {#{% set value = '' %}#}
    {#<ul class="list-group list-group-flush {{ config.class }}">#}
    {#{% for item in content %}#}
        {#{% set icon = (item.icon is defined) ? " fa fa-li fa-"~item.icon : '' %}#}
        {#{% if item.links is defined %}#}
            {#{% for link in links %}#}
                {#{% set value = value ~'<a class="card-link '~ link.class ~' href="'~ link.href ~'">'~ link.text ~'</a>' %}#}
            {#{% endfor %}#}
        {#{% else %}#}
            {#{% set value = (item.href is defined) ? '<a href="'~item.href~'">'~item.text~'</a>' : item.text %}#}
        {#{% endif %}#}
        {#<li class="list-group-item {{ item.class ?? '' }}{{ icon }}">#}
            {#{% if 'kicker' in config.parts.list.elements %}#}
                {#<div class="col-xs-3 kicker">{{ item.kicker }}</div>#}
                {#<div class="col-xs-9">{{ value }}</div>#}
            {#{% else %}#}
                {#{{ value }}#}
            {#{% endif %}#}
        {#</li>#}
    {#</ul>#}
{#{% endmacro %}#}
