{% extends "base.html.twig" %}
{% import 'page/components/carousel.html.twig' as carousel %}
{% import 'page/components/card.html.twig' as card %}

{% block content %}
<div class="container-fluid">
    <div id="most-important" class="row">
        {% if slides is defined %}
            {{ carousel.carousel('main-carousel', slides) }}
        {% endif %}
        <div id="whats-new" class="col-sm-4"></div>
    </div>

    <!-- Intro -->
    <div id="titleBar" class="row">
        <div class="col-sm-6"><h1>{{ page.title }}</h1></div>
        <div class="col-sm-6"><h2>{{ page.lead }}</h2></div>
    </div>

    <!-- Blurb -->
    <div id="introBar" class="row">
        <div class="col-md-8" style="border-right: 1px solid #eee">{{ page.content|raw }}</div>
        <div class="col-md-4">{# TODO dymek z bootstrap-milestones #}</div>
    </div>

    <!-- Sekcje -->
    <div id="main-sections" class="container-fluid">
    {% set config = {parts: ["img","main","list"], link: ["img"], title: "img", text: "main", footer: "main"} %}
    {% for sub in subs %}
        {% if (loop.index0 == 0)  %}<div class="row">{% endif %}
        <div class="col-xs-6 col-md-4 col-lg-3 card-box">
        {% set cardContent =
            {href: sub.name,
             title: sub.title,
             text: sub.lead,
             img: sub.image_card,
             footer: "<a href='" ~ sub.name ~ "'>" ~ ('site_more'|trans) ~ "</a>",
             list: sub.links
            } %}
        {{ card.card('sub.name', config, cardContent) }}
        </div>
        {% if  (loop.last) %}</div>{% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
