{# a *-to-many collection of values #}
{% if value is iterable %}
    {% for item in value %}
        {% if link_parameters is defined -%}
            {% set primary_key_value = attribute(item, link_parameters.primary_key_name) %}
            <a href="{{ path('easyadmin', link_parameters|merge({ id: primary_key_value, referer: '' })) }}">
                	<span class="label color-swatch" style="background-color: {{ item.color }}">{{ item }}</span>
            </a>
        {%- else %}
            	<span class="label color-swatch" style="background-color: {{ item.color }}">{{ item }}</span>
        {% endif %}
    {% endfor %}
    
{# a simple *-to-one value associated with an entity managed by this backend #}
{% elseif link_parameters is defined %}
    <a href="{{ path('easyadmin', link_parameters|merge({ referer: '' })) }}">{{ value|easyadmin_truncate }}</a>
{% else %}
    <span class="label color-swatch" style="background-color: {{ value }}">{{ value }}</span>
{% endif %}