{% macro label4role(value) %}
    {% set value = value|lower|split('_',3) %}
    {{ value[1]|capitalize }}{% if value[2] is defined and value[2]|length>0 %}:{{ value[2]|capitalize|replace({'_':' '}) }}{% endif %}
{% endmacro %}
{% import _self as m %}
{% set styles = field_options.styles|default(['default']) %}
{% if view == 'show' %}
    {% if value|length > 0 %}
        <ul>
            {% for element in value %}
                <li>{{ m.label4role(element) }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="empty collection-empty">
            <span class="label label-empty">{{ 'label.empty'|trans({}, 'EasyAdminBundle') }}</span>
        </div>
    {% endif %}
{% else %}
	{% for element in value %}
        {{ m.label4role(element) }}{% if not loop.last %}, {% endif %}
    {% endfor %}
{% endif %}
