{% extends "EasyAdminBundle:default:list.html.twig" %}

{% block content_header %}
    <div class="row">
        <div class="col-sm-5">
            <h1 class="title" style="display: inline; vertical-align:middle">{{ _content_title }}</h1>
            {% if easyadmin_action_is_enabled_for_list_view('new', _entity_config.name) %}
                {% set _action = easyadmin_get_action_for_list_view('new', _entity_config.name) %}
                {% block new_action %}
                    <div class="button-action" style="display: inline">
                        <a class="{{ _action.css_class|default('') }}" href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}">
                            {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                            {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
                        </a>
                    </div>
                {% endblock new_action %}
            {% endif %}
        </div>
        <div class="col-sm-7">
            <div class="global-actions">
                {% block global_actions %}
                    {% if easyadmin_action_is_enabled_for_list_view('search', _entity_config.name) %}
                        {% set _action = easyadmin_get_action_for_list_view('search', _entity_config.name) %}

                        {% block search_action %}
                            <div class="form-action {{ _action.css_class|default('') }}">
                                <form method="get" action="{{ path('easyadmin') }}">
                                    {% block search_form %}
                                        <input type="hidden" name="action" value="search">
                                        <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
                                        <input type="hidden" name="sortField" value="{{ _request_parameters.sortField }}">
                                        <input type="hidden" name="sortDirection" value="{{ _request_parameters.sortDirection }}">
                                        <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
                                        <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">
                                        <div class="input-group">
                                            <input class="form-control" type="search" name="query" value="{{ app.request.get('query')|default('') }}">
                                            <span class="input-group-btn">
                                                <button class="btn" type="submit">
                                                    <i class="fa fa-search"></i>
                                                    <span class="hidden-xs hidden-sm">{{ _action.label|default('action.search')|trans(_trans_parameters) }}</span>
                                                </button>
                                            </span>
                                        </div>
                                    {% endblock %}
                                </form>
                            </div>
                        {% endblock search_action %}
                    {% endif %}

                {% endblock global_actions %}
            </div>
        </div>
    </div>
{% endblock content_header %}