{# app/Resources/views/login.html.twig #}

{% extends "base.html.twig" %}
{% block stylesheets %}
    {% stylesheets '@UserBundle/Resources/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@UserBundle/Resources/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <section class="login">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="link" href="{{ path('fos_user_security_logout') }}">Logout</a>
        {% endif %}

        <div class="wrapper">
			<form id="login" action="{{ path("fos_user_security_check") }}" method="post"class="form-signin">
			     <div style="width:100%; text-align: center">
    			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <img src="{{ asset('bundles/admin/img/logo.png') }}" width="155" style=" padding: 10px; margin-bottom: 25px;"/>
                
				{% if error %}
    			<div>{{ error|trans({}, 'FOSUserBundle') }}</div>
				{% endif %}
                <div class="form-group">	
                    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="text" class="form-control" id="username" required="required" name="_username" value="{{ last_username }}" placeholder="Login" />
                </div>
                <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="password" class="form-control" id="password" required="required" name="_password" placeholder="Hasło" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />               
   			 <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
   			 </div>
                <input type="hidden" name="_target_path" value="/admin" />
    <input type="submit" id="_submit" class="btn btn-danger btn-flat btn-block" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
		</form>
        </div>
    </section>
{% endblock %}