{% extends "@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig" %}

{% block color_widget %}
<div id="{{ id }}" class="input-group colorpicker-component">
	<span class="input-group-addon"><i></i></span>
	<input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control" /> 
</div>
<script> 
	$(function() { 
		$('#{{ id }}').colorpicker(); 
	});
</script>
{% endblock %}

{% block datepicker_widget -%}
<div class='input-group date' id='{{ id }}'>
	<span class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </span>
        {{- block('form_widget_simple') -}}
</div>
<script type="text/javascript">
    $(function () {
        $('#{{ id }}').datetimepicker({
            locale: '{{ app.request.locale }}',
            format: '{{ easyadmin.field.type_options.format|default("YYYY-MM-DD") }}',
            sideBySide: false,
            collapse: true,
            useCurrent: true,
            showTodayButton: true,
            showClear: true,
            tooltips: {
                today: '{{ "easyAdmin.datetimepicker2.text.today"|trans }}',
                clear: '{{ "easyAdmin.datetimepicker2.text.clear"|trans }}',
                close: '{{ "easyAdmin.datetimepicker2.text.close"|trans }}',
                selectMonth: '{{ "easyAdmin.datetimepicker2.text.selectMonth"|trans }}',
                prevMonth: '{{ "easyAdmin.datetimepicker2.text.prevMonth"|trans }}',
                nextMonth: '{{ "easyAdmin.datetimepicker2.text.nextMonth"|trans }}',
                selectYear: '{{ "easyAdmin.datetimepicker2.text.selectYear"|trans }}',
                prevYear: '{{ "easyAdmin.datetimepicker2.text.prevYear"|trans }}',
                nextYear: '{{ "easyAdmin.datetimepicker2.text.nextYear"|trans }}',
                selectDecade: '{{ "easyAdmin.datetimepicker2.text.selectDecade"|trans }}',
                prevDecade: '{{ "easyAdmin.datetimepicker2.text.prevDecade"|trans }}',
                nextDecade: '{{ "easyAdmin.datetimepicker2.text.nextDecade"|trans }}',
                prevCentury: '{{ "easyAdmin.datetimepicker2.text.prevCentury"|trans }}',
                nextCentury: '{{ "easyAdmin.datetimepicker2.text.nextCentury"|trans }}'
            },
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-calendar-check-o',
                clear: 'fa fa-eraser',
                close: 'fa fa-times'
            }
        });
    });
</script>
{%- endblock datepicker_widget %}

{% block sol_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
    {% if multiple %}
        <script type="text/javascript">
            $(function() {
                $('#{{ id }}').searchableOptionList({
                    showSelectAll: true,
                    texts: {
                        noItemsAvailable: '{{ "easyAdmin.sol.text.noItemsAvailable"|trans }}',
                        selectAll: '{{ "easyAdmin.sol.text.selectAll"|trans }}',
                        selectNone: '{{ "easyAdmin.sol.text.selectNone"|trans }}',
                        searchplaceholder: '{{ "easyAdmin.sol.text.searchplaceholder"|trans }}'
                    }
                });
            });
        </script>
    {% endif %}
{%- endblock %}

{% block tags_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple" data-role="tagsinput" {% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock tags_widget %}

{% block gallery_widget %}
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>	
<div id="links">
    <a href="images/banana.jpg" title="Banana" data-gallery>
        <img src="images/thumbnails/banana.jpg" alt="Banana">
    </a>
    <a href="images/apple.jpg" title="Apple" data-gallery>
        <img src="images/thumbnails/apple.jpg" alt="Apple">
    </a>
    <a href="images/orange.jpg" title="Orange" data-gallery>
        <img src="images/thumbnails/orange.jpg" alt="Orange">
    </a>
</div>
{% endblock %}